/* css stylesheet */

body {
    background-color: #000;
    color: azure;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    margin: 50px;


}
h1 {
    color:pink;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 70px;
    border: 20px solid whitesmoke ;
    padding: 15px;
    border-radius: 50px;
}

h3 {
    color: darkorchid;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 50px;
    border: 10px solid rgb(245, 245, 245);
    padding: 10px;
    border-radius: 50px;
    width: 1000px;
}

img {
    height: 300px;
    width: auto;
}
